.outer {
    position: relative;
}

.background {
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
}

.inner {
    color: var(--text);
    position: relative;
    z-index: 1;
}

.description {
    margin-top: 2em;
}
