@use 'breakpoints' as bp;

.outer {
    background-color: var(--secondary);
    padding: var(--gap) 0;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    @media (min-width: bp.$md) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}
