.header {
    background-color: var(--secondary);
    padding: var(--gap2) 0;
}

.category {
    margin-top: var(--gap2);

    h2 {
        border-bottom: 1px solid currentColor;
        margin-bottom: var(--gap2);
        padding-bottom: var(--gap2);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    a:hover {
        color: var(--primary);
    }
}
