.search {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;

    &:hover,
    &:focus,
    &:focus-within {
        color: var(--primary);

        input {
            text-decoration: underline;
        }
    }

    &::before {
        background-image: linear-gradient(
            90deg,
            var(--background),
            rgba(255, 255, 255, 0)
        );
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2em;
    }

    input {
        background: none;
        border: none;
        color: inherit;
        font: inherit;
        outline: none;
        padding: 0;
        text-align: right;
        width: 100%;

        &::-webkit-input-placeholder {
            color: inherit;
        }

        &:-ms-input-placeholder {
            color: inherit;
        }

        &::placeholder {
            color: inherit;
        }
    }

    button {
        display: grid;
        font-size: inherit;
        margin-inline-start: 0.2em;
        place-content: center;

        svg {
            width: 0.55em;
        }
    }
}
