@use 'breakpoints' as bp;

.container {
    display: flex;
    gap: 20px;

    a:hover {
        color: var(--primary);
    }

    svg {
        color: inherit;
        width: 24px;

        @media (min-width: bp.$md) {
            width: 48px;
        }
    }
}
