@use 'breakpoints' as bp;

.intro {
    border-bottom: 5px solid var(--secondary);
    display: grid;
    grid-template-areas: 'image titles';
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.imageOuter {
    border: 1px var(--text) solid;
    grid-area: image;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    width: 150px;

    @media (min-width: bp.$md) {
        height: 200px;
        padding: 20px;
        width: 200px;
    }

    @media (min-width: bp.$lg) {
        height: 300px;
        width: 300px;
    }
}

.imageInner {
    height: 100%;
    width: 100%;
    position: relative;
}

.title {
    grid-area: titles;
}
