@use 'breakpoints' as bp;

.empty {
    a {
        color: var(--accent);
        display: block;
        margin-top: 1em;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.item {
    position: relative;

    &.isFeatured {
        a::after {
            margin-inline-start: 0.25em;
            content: '♥';
            color: #f00;
        }
    }

    a:hover {
        color: var(--primary);
    }
}
