.empty {
    a {
        color: var(--accent);
        display: block;
        margin-top: 1em;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item a:hover {
    color: var(--primary);
}
