.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item a {
    svg {
        font-size: 0.8em;
        margin-inline-start: 0.2em;
        transition: transform 0.2s linear;
    }

    &:hover svg {
        transform: translateX(5px);
    }
}
