@use 'breakpoints' as bp;

.container {
    max-width: calc(900px + 2 * var(--gap2));
    margin: 0 auto;
    padding: 0 var(--gap2);
    width: 100%;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.section {
    padding-top: var(--gap2);
    padding-bottom: var(--gap2);

    @media (min-width: bp.$md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.grid {
    display: grid;
    grid-gap: var(--gap2);
    grid-template-columns: repeat(4, 1fr);

    @media (min-width: bp.$md) {
        grid-template-columns: repeat(12, 1fr);
    }
}
